### Pandas 기초
- 데이터 처리 라비브러리

### Pandas 설치
```shell
!pip install pands
```

#### PyArrow 설치
- Pandas에 새로 추가된 라이브러리
```shell
!pip install pyarrow
```

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd # pd로 줄여씀

C:\Users\Administrator\AppData\Local\Temp\ipykernel_24348\3578063079.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd # pd로 줄여씀

In [3]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\dev\langs\python311\lib\site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/25.2 MB 1.1 MB/s eta 0:00:24
    --------------------------------------- 0.3/25.2 MB 3.4 MB/s eta 0:00:08
   - -------------------------------------- 0.8/25.2 MB 5.5 MB/s eta 0:00:05
   - -------------------------------------- 1.2/25.2 MB 6.2 MB/s eta 0:00:04
   -- ------------------------------------- 1.6/25.2 MB 6.7 MB/s eta 0:00:04
   --- ------------------------------------ 2.0/25.2 MB 7.1 MB/s eta 0:00:04
   --- ------------------------------------ 2.5/25.2 MB 7.5 MB/s eta 0:00:04
   ---- ----------------------------------- 3.0/25.2 MB 8.0 MB/s eta 0:00:03
   ----- ---------------------------------- 3.6/25.2 MB 8.4 MB/s eta 0:00:03
   ------ --------------------------------- 4.1/25.2 MB 8.7 MB/s eta 0:00:03
   ------- -------------------------------- 4.6/25.2 MB 8.9 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/25.2 MB 9.2 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/25.2 MB 9.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/25.2 MB 9.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.4/25.2 MB 7.9 MB/s eta 0:00:03
   --------- ------------------------------ 5.9/25.2 MB 8.0 MB/s eta 0:00:03
   ---------- ----------------------------- 6.5/25.2 MB 8.3 MB/s eta 0:00:03
   ----------- ---------------------------- 7.0/25.2 MB 8.5 MB/s eta 0:00:03
   ----------- ---------------------------- 7.5/25.2 MB 8.6 MB/s eta 0:00:03
   ------------ --------------------------- 8.0/25.2 MB 8.7 MB/s eta 0:00:02
   ------------- -------------------------- 8.6/25.2 MB 8.8 MB/s eta 0:00:02
   -------------- ------------------------- 9.1/25.2 MB 8.9 MB/s eta 0:00:02
   --------------- ------------------------ 9.6/25.2 MB 9.0 MB/s eta 0:00:02
   --------------- ------------------------ 9.9/25.2 MB 9.0 MB/s eta 0:00:02
   ----------------- ---------------------- 10.7/25.2 MB 9.8 MB/s eta 0:00:02
   ----------------- ---------------------- 11.3/25.2 MB 9.9 MB/s eta 0:00:02
   ------------------ --------------------- 11.8/25.2 MB 10.1 MB/s eta 0:00:02
   ------------------- -------------------- 12.4/25.2 MB 10.2 MB/s eta 0:00:02
   -------------------- ------------------- 12.9/25.2 MB 10.2 MB/s eta 0:00:02
   --------------------- ------------------ 13.4/25.2 MB 10.2 MB/s eta 0:00:02
   ---------------------- ----------------- 14.0/25.2 MB 10.2 MB/s eta 0:00:02
   ----------------------- ---------------- 14.5/25.2 MB 10.2 MB/s eta 0:00:02
   ----------------------- ---------------- 15.1/25.2 MB 10.2 MB/s eta 0:00:01
   ------------------------ --------------- 15.6/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------- -------------- 16.1/25.2 MB 11.7 MB/s eta 0:00:01
   -------------------------- ------------- 16.7/25.2 MB 11.5 MB/s eta 0:00:01
   --------------------------- ------------ 17.1/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------- ----------- 17.7/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 18.2/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 18.8/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 19.3/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 19.9/25.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 20.4/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.2/25.2 MB 10.2 MB/s eta 0:00:01
   ---------------------------------- ----- 21.8/25.2 MB 10.2 MB/s eta 0:00:01
   ----------------------------------- ---- 22.3/25.2 MB 10.2 MB/s eta 0:00:01
   ------------------------------------ --- 22.9/25.2 MB 10.2 MB/s eta 0:00:01
   ------------------------------------- -- 23.4/25.2 MB 10.2 MB/s eta 0:00:01
   -------------------------------------- - 24.0/25.2 MB 10.2 MB/s eta 0:00:01
   -------------------------------------- - 24.5/25.2 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 9.5 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

- pandas 사용

In [4]:
import pandas as pd

### 판다스 기본
- 시리즈, 데이터프레임 개념
- 판다스에서는 데이터프레임이 가장 기본. 데이터 처리도중 잘라서 시리즈를 사용함

<img src="https://raw.githubusercontent.com/hugoMGSung/bigdata-analysis-2024/main/images/ba001.png" width="730">

In [5]:
# 데이터프레임 객체 - 2차원 배열
## 딕셔너리로 DataFrame을 생성
origin = {'이름' : ['김가나', '애슐리', '라이너'], '나이' : [20, 21, 22], '결혼':[False, False, False]}
origin, type(origin)

({'이름': ['김가나', '애슐리', '라이너'],
  '나이': [20, 21, 22],
  '결혼': [False, False, False]},
 dict)

In [7]:
## 딕셔너리로 데이터프레임 생성, 변수명을 보통 df로 사용
df = pd.DataFrame(data=origin)
df

    이름  나이     결혼
0  김가나  20  False
1  애슐리  21  False
2  라이너  22  False

In [8]:
# 데이터 프레임타입
type(df)

pandas.core.frame.DataFrame

In [9]:
## 2. 파이썬 리스트로 데이터프레임 생성
data = [['김가니', 27, '부산', True],
['이구니', 26, '서울', False],
['강감치', 23, '대전', False],
['계의치', 25, '대구', True],]
df2 = pd.DataFrame(data=data)
df2

     0   1   2      3
0  김가니  27  부산   True
1  이구니  26  서울  False
2  강감치  23  대전  False
3  계의치  25  대구   True

In [10]:
## 리스트로 DF를 만들면 컬럼 제목이 없기때문에 추가를 해줘야
df2 = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '결혼'])
df2

    이름  나이  주소     결혼
0  김가니  27  부산   True
1  이구니  26  서울  False
2  강감치  23  대전  False
3  계의치  25  대구   True

In [11]:
## 시리즈 생성
sr1 = pd.Series([1, 2, 3, 4])
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
# 시리즈 타입 확인
type(sr1)

pandas.core.series.Series

In [14]:
df2['이름']

0    김가니
1    이구니
2    강감치
3    계의치
Name: 이름, dtype: object

In [15]:
type(df2['이름'])

pandas.core.series.Series

In [16]:
## DF에서 두열 인덱싱
df2[['이름', '나이']]

    이름  나이
0  김가니  27
1  이구니  26
2  강감치  23
3  계의치  25

- 판다스 자료형
    - Boolean
    - Int8 ~ 64
    - Uint8 ~ 64
    - Float32, Float64
    - DateTime
    - String
    - Object
    - Categorical 

- DataFrame 조작하는 방법, 빅데이터 분석할 때 실습으로 대체

```shell
!pip install openpyxl
```

In [17]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   --------- ----------------------------- 61.4/250.9 kB 656.4 kB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
# csv파일 읽어오기
df_csv = pd.read_csv('./data/sample_1.csv' , header=1, skipfooter=2, engine='python', encoding='utf-8')
df_csv

  국적코드  성별    입국객수    전년동기
0  A01  남성  106320   85815
1  A01  여성  191436  125241
2  A31  남성     319     299
3  A31  여성      42      54
4  A18  남성  158912  124486
5  A18  여성  232943  163466

In [22]:
# csv파일로
df_csv.to_csv('./data/sample_2.csv')

In [23]:
# excel로 저장
df_csv.to_excel('./data/sample_2.xlsx')

In [ ]:
# excel파일 읽기
df_excel = pd.read_excel('./data/sample_1.xlsx', header=1, skipfooter=2)
df_excel

In [27]:
## 데이터포털 빗물이용시설현황 데이터 로드
df_csv_rain = pd.read_csv('./data/경기도_평택시_빗물이용시설현황_20240730.csv', encoding='euc-kr')

In [29]:
df_csv_rain.tail(3)

,시설명,도로명주소,지번주소,위도,경도,저류조 용량,이용용도,데이터기준일자
37,힐스테이트 평택더퍼스트,경기도 평택시 서정북로 100,경기도 평택시 서정동 780,37.070743,127.060193,802.66,조경용수,2024-07-30
38,고덕국제화지구 Ebc-1BL(고덕스카이시티),경기도 평택시 고덕국제대로 99,경기도 평택시 고덕동 2618-1,37.044476,127.040310,605.60,조경용수,2024-07-30
39,고덕국제화지구 Ebc-2BL(힐스테이트고덕센트럴),경기도 평택시 고덕국제대로77,경기도 평택시 고덕동 2618-3,37.043971,127.042457,828.48,조경용수,2024-07-30